*.cmo
*.cmx
*.cmi
virtual.ml
simm.ml
regAlloc.ml
emit.ml
asm.ml
asm.mli
libmincaml.S
test/ack.dSYM/
test/adder.dSYM/
test/cls-bug.dSYM/
test/cls-bug2.dSYM/
test/cls-rec.dSYM/
test/cls-reg-bug.dSYM/
test/even-odd.dSYM/
test/fib.dSYM/
test/funcomp.dSYM/
test/gcd.dSYM/
test/inprod-loop.dSYM/
test/inprod-rec.dSYM/
test/inprod.dSYM/
test/join-reg.dSYM/
test/join-reg2.dSYM/
test/join-stack.dSYM/
test/join-stack2.dSYM/
test/join-stack3.dSYM/
test/manyargs.dSYM/
test/matmul-flat.dSYM/
test/matmul.dSYM/
test/non-tail-if.dSYM/
test/non-tail-if2.dSYM/
test/print.dSYM/
test/shuffle.dSYM/
test/spill.dSYM/
test/spill2.dSYM/
test/spill3.dSYM/
test/sum-tail.dSYM/
test/sum.dSYM/
